body{
	padding-top: 70px;
}
h1{
	color: rgb(70, 43, 221);
	text-align: center;
	visibility: hidden;
}
img{
	visibility: hidden;
}

form{
	text-align	: center;
}

.navbar-inverse .navbar-brand{
	color: white;
}
